.dart_tool
.idea
.vscode
.build/
analysis_options.yaml
LICENSE.md
README.md
.gitignore
test
linux
windows
android
ios
coverage
.editorconfig
.flutter-plugins-dependencies
.metadata
.puro.json
typingapp.iml
